In [1]:
float(57)

57.0

In [2]:
int(390.8)

390

In [4]:
user = "Sammy"
lines = 50

print('Congo!!' + user)
print('Congo!!' + user + ' just wrote ' + lines + ' code')

Congo!!Sammy

TypeError: must be str, not int

In [5]:
lines_yesterday = "50"
lines_today = "100"

lines_more = lines_today - lines_yesterday

print(lines_more)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [7]:
total_points = "40.67"
new_points = "78.33"

new_total_points = total_points + new_points

print(new_total_points)

40.6778.33

In [9]:
print(tuple(['abhineet', 'deepak', 'navneet', 'manish']))
print(type(['abhineet', 'deepak', 'navneet', 'manish']))
print(type(tuple(['abhineet', 'deepak', 'navneet', 'manish'])))

('abhineet', 'deepak', 'navneet', 'manish')
<class 'list'>
<class 'tuple'>

In [10]:
print(tuple('sammy'))

('s', 'a', 'm', 'm', 'y')

In [11]:
print(list('shark'))

['s', 'h', 'a', 'r', 'k']

In [14]:
tuple1 = (1,2,3)
print(type(set1))
tuple2 = (4,5,6)

tuple3 = tuple1 + tuple2
print(tuple3)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

In [22]:
set1 = {1,2,3}
print(type(set1))

set2 = set()
set2.add(4)
set2.add(5)
set2.add(6)
print(set2)
print(type(set2))

set3 = set1 + set2
print(set3)

<class 'set'>
{4, 5, 6}
<class 'set'>

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [24]:
set4 = set('querty')
print(set4)

# this won't work
set5 = set(2)
print(set5)

{'r', 'y', 'u', 't', 'q', 'e'}

TypeError: 'int' object is not iterable

In [28]:
set6 = {1,2,3}
print(set1 == set6)
print(set1 == set2)

for num in set6:
    print(num)

True
False
1
2
3

In [32]:
set7 = {2,3,4}

print(set1|set2)

set7.update(set1)
print(set7)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4}

In [34]:
mylist = [10,20,20,20,30,30]
myset = set(mylist)
print(myset)

mylist2 = list(myset)
print(mylist2)

{10, 20, 30}
[10, 20, 30]